
body{
display: flex;
justify-content: center;
}

.gameSpace{
background-color: black;
width: 500px;
height: 500px;
position: relative;
}

.player{
    height:40px;
    width: 40px;
    background: url(rocket2.png);
    bottom:0px;
    left: 50%;
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
}